.home-container {
  width: 100%;
  height: 100%;
  background-color: rgb(88.6%, 88.6%, 88.6%);

  .header {
    background-color: rgb(27.3%, 27.3%, 27.3%);
    width: 100%;
    height: 15px;

    .icons {
      display: flex;
      min-width: 50px;
      width: 50px;
    }
  }
  .body {
    width: 100%;
    height: calc(100% - 15px);
    display: flex;
    justify-content: center;
    margin-right: 300px;
    .image {
      width: 300px;
    }

    .container {
      font-family: 'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      width: 50%;
      &--center{
        justify-content: center;
      }

      .test{
        display: inline-block;
        width: 0;
        // position: relative;
        // top: 50%;
        // width: 24em;
        // margin: 0 auto;
        border-right: 10px solid black;
        font-size: 180%;
        // text-align: center;
        white-space: nowrap;
        overflow: hidden;
        // transform: translateY(-50%);
        animation: typewriter 2s steps(30) 0s 1 normal both,
                   blinkTextCursor 600ms steps(2) infinite none;
    }

      // .anim-typewriter{
      //   animation: typewriter 4s steps(44) 1s 1 normal both,
      //              blinkTextCursor 500ms steps(44) infinite normal;
      // }
        @keyframes typewriter{
          from{width: 0;}
          to{width: 100%;}
        }
      @keyframes blinkTextCursor{
        from{border-right-color: transparent;}
        to{border-right-color: black;}
      }
    }
    .ascii:hover{
      background-image: url('../assets/Casual.JPG');
      background-size: cover;
      color: transparent;
    }
    .ascii{
      background-image: url('../assets/Casual.JPG');
      // background-color: rgba(85.5%, 1.3%, 1.3%, 0.1);
      opacity: 1;
      color: black;
      width: auto;
      // width: 50%;
      // height: 34%;
      -webkit-font-smoothing: antialiased;
      // margin: 0;
      margin-top: 20px;
      padding: 0;
      border: 0;
      font: inherit;
      vertical-align: baseline;
      font-size: 5px;
      display: inline-block;
      white-space: pre;
      letter-spacing: 0;
      line-height: 1.4;
      font-family: 'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
      border-width: 1px;

    }
  }
}

// .home-container > div {
//   position: relative;
//   width: 30vw;
//   height: 30vw;
//   background: grey;
//   border-radius: 5px;
//   box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
//   transition: box-shadow 0.5s, opacity 0.5s;
//   will-change: transform;
//   border: 10px solid white;
//   cursor: grab;
//   overflow: hidden;
// }

// .home-container > div > div {
//   will-change: transform;
//   height: 100%;
//   margin: 0vw 0;
// }

// .home-container > div > div > * {
//   height: 100%;
//   background-size: cover;
//   background-position: center center;
//   margin: 0vw 0;
// }

// .home-container > div.dragging {
//   cursor: grabbing;
// }

// .home-container > div.disabled {
//   opacity: 0.5;
//   cursor: default;
// }

// .home-container > div:hover {
//   box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
// }

// .home-container > button {
//   position: absolute;
//   top: 20px;
//   left: 20px;
// }
